<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
<html>
<head>
    <title>Editar Catequizando</title>
</head>
<body>
    <h1>Editar Catequizando</h1>
    <form method="POST">
        Nombre: <input type="text" name="nombre" value="{{ datos[1] }}"><br>
        Fecha Nacimiento: <input type="date" name="fecha_nac" value="{{ datos[2] }}"><br>
        Cédula: <input type="text" name="cedula" value="{{ datos[3] }}"><br>
        Dirección: <input type="text" name="direccion" value="{{ datos[4] }}"><br>
        Parroquia ID: <input type="number" name="parroquia_id" value="{{ datos[5] }}"><br>

        <button type="submit">Actualizar</button>
        <a href="{{ url_for('index') }}">Cancelar</a>
    </form>

    <h2>Representantes</h2>
    <ul>
        {% for r in representantes %}
        <li>{{ r[1] }} - {{ r[2] }} - {{ r[3] }}</li>
        {% endfor %}
    </ul>
</body>
</html>
